<%- include("../includes/header.ejs", {title:"Add New Character"}); %>
    <h1>Add New Character</h1>
    <form action="/Character/insert" method="get">
        <br />
        <br />
        Please Select a Game that the Character is for:<br />
        <select id="game_id" name="game_id">
            <% for(var i=0; Game.length > i; i++ ) { %>
            <option value="<%= Game[i].game_id %>"><%= Game[i].g_name %></option>
            <% } %>
        </select>
        <br />
        <br />
        Character Name: <input id="c_name" name="c_name" type="text" />
        <br />
        <br />
        Is the Character Playable: <input id = "is_playable" name="is_playable" type="checkbox"/>
        <br />
        <br />
        Is the Character Removable from the Game? <input id = "is_killable" name = "is_killable" type="checkbox"/>
        <br />
        <!-- Initialize the multiselect plugin: -->

        <br />
        <input type="submit" />

    </form>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>