<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <a href="/Player/all">Player - View All</a>
    <a href="/Game/all">Game - View All</a>
    <a href="/Platform/all">Platform - View All</a>
    <a href="/DLC/all">DLC-View All</a>
    <a href="/Character/all">Character-View All</a>
    <a href="/Hours/all">Hours-View All</a>

    <br />

<%- include("./includes/footer.ejs"); %>
