<%- include("../includes/header.ejs", {title:"Add New DLC"}); %>
    <h1>Add New DLC</h1>
    <form action="/DLC/insert" method="get">
        <br />
        <br />
        Please Select a Game that the DLC is for:<br />
        <select id="game_id" name="game_id">
            <% for(var i=0; Game.length > i; i++ ) { %>
            <option value="<%= Game[i].game_id %>"><%= Game[i].g_name %></option>
            <% } %>
        </select>
        <br />
        <br />
        DLC Name: <input id="DLC_name" name="DLC_name" type="text" />
        <br />
        <br />
        price: <input id = "DLC_price" name="DLC_price" type="text"/>
        <br />
        <br />
        Content_type: <input id = "Content_type" name = "Content_type" type="text"/>
        <br />
        <!-- Initialize the multiselect plugin: -->

        <br />
        <input type="submit" />

    </form>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>