<%- include("../includes/header.ejs", {title: "Update " + DLC.DLC_name}); %>

<h1>Update <%= DLC.DLC_name%></h1>
<form action="/DLC/update" method="get">
    <input type="hidden" id="DLC_id" name="DLC_id" value="<%= DLC.DLC_id %>">
    DLC Name: <%= DLC.DLC_name%>
    <br />
    <br />
   price: <input id="DLC_price" name = "DLC_price" type="text" value="<%= DLC.price%>"/>

    <input type="submit" />

</form>
<br />
<a href="/"><< back to home</a>

<%- include("../includes/footer.ejs"); %>

</html>