<%- include("../includes/header.ejs", {title:"Games - " + result[0].g_name}); %>
    <h1>DLC</h1>
    <ul>
        <li>DLC name: <%= result[0].DLC_name %></li>
        <li>price: <%= result[0].DLC_price %></li>
        <li>Content Type: <%= result[0].Content_type %></li>
        <li>Parent Game: <%= result[0].g_name%></li>

    </ul>

<a href="/DLC/all"><< back</a>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>