<%- include("../includes/header.ejs", {title:"Games - " + result[0].g_name}); %>
    <h1>Games</h1>
    <ul>
        <li>Game name: <%= result[0].g_name %></li>
        <li>price: <%= result[0].price %></li>
        <li>Genre: <%= result[0].genre %></li>

    </ul>

<a href="/Game/all"><< back</a>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>