<%- include("../includes/header.ejs", {title:"Game - View All"}); %>

<h1>Games</h1>
        <a href="/Game/add">Add New Game</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Price</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/Game/?game_id=<%= result[i].game_id %>"><%= result[i].g_name %></a></td>
                <td><%=result[i].price%></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/Game/edit/?game_id=<%= result[i].game_id %>'">Edit</button>
                    <form action="/Game/delete/" style="display:inline;">
                        <input type="hidden" name="game_id" id="game_id" value="<%= result[i].game_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>