<%- include("../includes/header.ejs", {title:"Add New Game"}); %>
    <h1>Add New Game</h1>
    <form action="/Game/insert" method="get">
        Game Name: <input id="g_name" name="g_name" type="text" />
        <br />
        <br />
        price: <input id = "price" name="price" type="text"/>
        <br />
        <br />
        Genre: <input id = "genre" name = "genre" type="text"/>
        <br />
        <!-- Initialize the multiselect plugin: -->

        <br />
        <input type="submit" />

    </form>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>