<%- include("../includes/header.ejs", {title:"Game - View All"}); %>

<h1>Hours Logged By Players</h1>
        <a href="/Hours/add">Add More Hours</a> <br />

        <br />

        <table border="1">
            <tr><th>Email</th><th>Hours Played</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/Hours/?player_id=<%= result[i].player_id %>"><%= result[i].email %></a></td>
                <td><%=result[i].hours%></td>

            </tr>
            <% } %>
        </table>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>