<%- include("../includes/header.ejs", {title:"Games - " + result[0].g_name}); %>
    <h1>Hours Played on Games</h1>



<table border="1">
    <tr><th>Game</th><th>Hours Played</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].g_name %></td>
        <td><%=result[i].hours%></td>

    </tr>
    <% } %>
</table>







<a href="/Hours/all"><< back</a>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>