<%- include("../includes/header.ejs", {title: "Update " + Player.email}); %>

<h1>Update <%= Player.email%></h1>
<form action="/Player/update" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= Player.player_id %>">
    Player Name: <input id="email" name="email" type="text" value="<%= Player.email%>"/>
    <br />
    <br />
   preffered_genre: <input id="preffered_genre" name = "preffered_genre" type="text" value="<%= Player.preffered_genre%>"/>

    <br />

    <input type="submit" />

</form>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>

</html>