<%- include("../includes/header.ejs", {title:"Add New Player"}); %>
    <h1>Add New Player</h1>
    <form action="/Player/insert" method="get">
        Player Name: <input id="email" name="email" type="text" />
        <br />
        <br />
        preffered_genre: <input id = "preffered_genre" name="preffered_genre" type="text"/>

        <!-- Initialize the multiselect plugin: -->

        <br />
        <input type="submit" />

    </form>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>