<%- include("../includes/header.ejs", {title:"Player - View All"}); %>

<h1>Players</h1>
        <a href="/Player/add">Add New Player</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/Player/?player_id=<%= result[i].player_id %>"><%= result[i].email %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/Player/edit/?player_id=<%= result[i].player_id %>'">Edit</button>
                    <form action="/Player/delete/" style="display:inline;">
                        <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>