<%- include("../includes/header.ejs", {title:"Players - " + result[0].email}); %>
    <h1>Players</h1>
    <ul>
        <li>Player name: <%= result[0].email %></li>
        <li>preffered_genre: <%= result[0].preffered_genre %></li>

    </ul>

<a href="/Player/all"><< back</a>

<br />
<a href="/"><< back to home</a>
<%- include("../includes/footer.ejs"); %>