<%- include("../includes/header.ejs", {title: "Update " + Platform.Platform_type}); %>

<h1>Update <%= Platform.Platform_type%></h1>
<form action="/Platform/update" method="get">
    <input type="hidden" id="Platform_id" name="Platform_id" value="<%= Platform.Platform_id %>">
    Platform Name: <input id="Platform_type" name="Platform_type" type="text" value="<%= Platform.Platform_type%>"/>
    <br />
    <br />
   price: <input id="price" name = "price" type="text" value="<%= Platform.price%>"/>

    <br />
    <br />
    operating_system: <input id = "operating_system" name = "operating_system" type="text" value="<%= Platform.operating_system%>"/>

    <input type="submit" />

</form>
<br />
<a href="/"><< back to home</a>

<%- include("../includes/footer.ejs"); %>

</html>