<%- include("../includes/header.ejs", {title:"Platforms - " + result[0].g_name}); %>
    <h1>Platforms</h1>
    <ul>
        <li>Platform name: <%= result[0].g_name %></li>
        <li>price: <%= result[0].price %></li>
        <li>operating_system: <%= result[0].operating_system %></li>

    </ul>

<a href="/Platform/all"><< back</a>
<br />
<a href="/"><< back to home</a>

<%- include("../includes/footer.ejs"); %>